$BACKGROUND_COLORS: (
    "primary": rgba(28, 37, 44, 1),
    "secondary": rgba(33, 42, 49, 1),
    "purple-low": rgba(145,99,204, .2),
    "purple": rgba(145,99,204, 1),
    "red-low": rgba(255, 64, 64, .2),
);

$FONT_COLORS: (
    "primary": rgba(255, 255, 255, 1),
    "secondary": rgba(205, 205, 205, 1),
    "purple": rgba(145,99,204, 1),
    "red": rgba(255, 64, 64, 1),
);

$BORDER_COLORS: (
    "primary": rgba(31, 40, 47, 1),
    "secondary": rgba(33, 42, 49, 1),
    "red": rgba(255, 64, 64, 1),
    "purple": rgba(145,99,204, 1),
);

$SHADOW_COLORS: (
    "primary": rgba(31, 40, 47, 1),
    "purple": rgba(145,99,204, 1),
);